dist: xenial
language: go
go:
  - 1.16.x

go_import_path: github.com/application-stacks/runtime-component-operator

services:
  - docker

stages:
  # If statement added to prevent travis runs while testing
  - name: unit-test    
    if: branch = master AND fork = false
  # Builds are split into 'e2e-test' and 'build' to allow e2e tests to run first. If e2e fails, don't bother
  # building and pushing the images for the other architectures.
  - name: e2e-test
    if: branch = master AND fork = false
  - name: build
    if: branch = master AND fork = false AND type != pull_request
  - name: build-manifest
    if: branch = master AND fork = false AND type != pull_request

jobs:
  include:
    - name: Unit testing
      stage: unit-test
      script: make unit-test
    - name: Build image on amd64 and test
      stage: e2e-test
      os: linux
      arch: amd64
      script:
        - make build-multiarch-image
        - travis_wait 45 make setup test-e2e || travis_terminate 1
    - name: Build image on ppc64le
      stage: build
      os: linux
      arch: ppc64le
      script:
        - make build-multiarch-image
        - make push-multiarch-image
        - make build-manifest
    - name: Build image on s390x
      stage: build
      os: linux
      arch: s390x
      script:
        - make build-multiarch-image
        - make push-multiarch-image
        - make build-manifest
    - name: Build image and bundle on amd64
      stage: build
      os: linux
      arch: amd64
      if: type != pull_request
      script:
        - make build-multiarch-image
        - make push-multiarch-image
        - make build-manifest
        - make bundle-build bundle-push
    ## in case there were concurrency issues with building manifest lists
    ## in previous steps, create FAT manifests one last time
    - name: Verify manifest lists
      stage: build-manifest
      script: make build-manifest
