dist: focal
language: go
go:
  - 1.16.x

go_import_path: github.com/application-stacks/runtime-component-operator

services:
  - docker

before_install:
  - sudo apt-get update

stages:
  - name: unit-test    
  # Builds are split into 'e2e-test' and 'build' to allow e2e tests to run first. If e2e fails, don't bother
  # building and pushing the images for the other architectures.
  - name: e2e-test
    if: (branch = main OR tag =~ ^v) AND fork = false AND type != cron
  - name: build
    if: (branch = main OR tag =~ ^v) AND fork = false AND type != pull_request AND type != cron
  - name: build-manifest
    if: (branch = main OR tag =~ ^v) AND fork = false AND type != pull_request AND type != cron
  # Releases are rebuilt weekly via a Travis cron job
  - name: rebuild-e2e-test
    if: branch = main AND fork = false AND type = cron
  - name: rebuild-releases
    if: branch = main AND fork = false AND type = cron
  - name: rebuild-bundles
    if: branch = main AND fork = false AND type = cron

jobs:
  include:
    - name: Unit testing
      stage: unit-test
      script: make unit-test
    - name: Build image on amd64 and test
      stage: e2e-test
      os: linux
      arch: amd64
      script: travis_wait 45 make setup test-e2e || travis_terminate 1
    # - name: Build image on ppc64le
    #   stage: build
    #   os: linux
    #   arch: ppc64le
    #   script: make build-releases && make build-manifest
    # - name: Build image on s390x
    #   stage: build
    #   os: linux
    #   arch: s390x
    #   script: make build-releases && make build-manifest
    - name: Build image and bundle on amd64
      stage: build
      os: linux
      arch: amd64
      before_install:
        - sudo apt-get install -qq -y software-properties-common uidmap
        - make install-podman
        - make install-opm
      script: make build-releases && make build-manifest && make bundle-releases
    ## in case there were concurrency issues with building manifest lists
    ## in previous steps, create FAT manifests one last time
    - name: Verify manifest lists
      stage: build-manifest
      script: make build-manifest
    # Build all non-ignored releases
    - name: Build image on amd64 and test
      stage: rebuild-e2e-test
      os: linux
      arch: amd64
      script: travis_wait 45 make setup test-e2e RELEASE_TARGET="releases" || travis_terminate 1
    # - name: Build releases on ppc64le
    #   stage: rebuild-releases
    #   os: linux
    #   arch: ppc64le
    #   script: make build-releases RELEASE_TARGET="releases"
    # - name: Build releases on s390x
    #   stage: rebuild-releases
    #   os: linux
    #   arch: s390x
    #   script: make build-releases RELEASE_TARGET="releases"
    - name: Build releases on amd64
      stage: rebuild-releases
      os: linux
      arch: amd64
      script: make build-releases RELEASE_TARGET="releases"
    # Bundle all non-ignored releases
    - name: Bundle releases
      stage: rebuild-bundles
      os: linux
      arch: amd64
      before_install:
        - sudo apt-get install -qq -y software-properties-common uidmap
        - make install-podman
        - make install-opm
      script: make build-manifest RELEASE_TARGET="releases" && make bundle-releases RELEASE_TARGET="releases"
