apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.0
  creationTimestamp: null
  labels:
    app.kubernetes.io/instance: runtime-component-operator
    app.kubernetes.io/managed-by: olm
    app.kubernetes.io/name: runtime-component-operator
  name: runtimeoperations.rc.app.stacks
spec:
  group: rc.app.stacks
  names:
    kind: RuntimeOperation
    listKind: RuntimeOperationList
    plural: runtimeoperations
    singular: runtimeoperation
  scope: Namespaced
  versions:
  - name: v1beta2
    schema:
      openAPIV3Schema:
        description: Day-2 operation to execute on an instance of runtime component
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Defines the desired state of RuntimeOperation
            properties:
              command:
                description: Command to execute. Not executed within a shell.
                items:
                  type: string
                type: array
              containerName:
                type: string
              podName:
                description: Name of the Pod to perform runtime operation on. Pod must be from the same namespace as the RuntimeOperation instance.
                type: string
            required:
            - command
            - podName
            type: object
          status:
            description: Defines the observed state of RuntimeOperation.
            properties:
              conditions:
                items:
                  description: OperationStatusCondition ...
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    lastUpdateTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      description: OperationStatusConditionType ...
                      type: string
                  type: object
                type: array
                x-kubernetes-list-type: atomic
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
