apiVersion: rc.app.stacks/v1
kind: RuntimeComponent
metadata:
  name: runtimecomponent-sample
spec:
  applicationImage: icr.io/appcafe/open-liberty/samples/getting-started@sha256:fbe77bebd1d61bd7f39929fd8ff42a0ad56a148d29aa3665c23058dd6f5568f4
  expose: true
  manageTLS: true
  replicas: 1
  service:
    port: 9443
  serviceAccount:
    mountToken: true
