apiVersion: rc.app.stacks/v1
kind: RuntimeComponent
metadata:
  name: runtimecomponent-sample
spec:
  applicationImage: icr.io/appcafe/open-liberty/samples/getting-started@sha256:80a28b6a71ec02369cc13f621e4c3cca0d63b1977be76e15dabbfba48411107f
  expose: true
  manageTLS: true
  replicas: 1
  service:
    port: 9443
  serviceAccount:
    mountToken: true
